body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imgTIDevice {
  background-image: url(img/imgAddTIDevice.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  position: absolute;
}

.imgLocal {
  background-image: url(img/imgAddLocal.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  position: absolute;
}


.boxback{
  background-image: url(img/GymBackground.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* height: 100vh; */
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.title{
  /* color: #fff; */
  text-align: center; 
  font-size: 6vh;
  margin: 0;
}

.subtitle{
  text-align: center; 
  font-size: 35px;
  margin: 0;
}

.boxInfra{
  background-image: url(img/pool_dark.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.boxMach{
  background-image: url(img/gym_swissotel_01darks.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.boxSystem{
  background-image: url(img/computerDark.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.link {
  text-decoration: none;
  color: black;
}


.bgHome{
  background-image: url(img/backgroundHome.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.titleHome{
  font-size: 11vh;
  margin: 0;
  color: rgb(252, 134, 0);
  /* color: #fff; */
}
.subtitleHome{
  font-size: 8vh;
  margin: 0;
  color: #fff;
  /* color: rgb(252, 134, 0); */
}

.logoHome{
  background-image: url(img/logoWellnessGroup.png);
  background-size: cover;
  width: 40vh;
  /* width: 200px; */
  /* height: 200px; */
  height: 40vh;
  position: absolute;
  /* left: 100px; */
  right: 100px;
  background-color: #fff;
  border-radius: 300px;
  box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px rgb(252, 134, 0), 0 0 30px rgb(252, 134, 0), 0 0 40px rgb(252, 134, 0), 0 0 55px rgb(252, 134, 0), 0 0 75px rgb(252, 134, 0);
}