body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.boxback{
  background-image: url(img/GymBackground.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.imgTIDevice {
  background-image: url(img/imgAddTIDevice.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
}

.imgLocal {
  background-image: url(img/imgAddLocal.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
}